@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

body {
    margin: 0;
}

header {
    background-color: black;
    text-align: center;
    padding: 2%;
}

#titulo {
    color: white;
    margin: 0;
    font-size: 5vw;
    font-family: 'Dancing Script', cursive;
}

#subtitulo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: white;
}

#subtitulo span {
    font-weight: 600;
}

#corpo {
    margin: 0% 7% 3% 7%;
}

#story {
    margin-top: 4%;
    width: 100%;
}

/**/
#placeholder {
    display: inline-block;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    word-wrap: break-word;
    width: 100%;
}

#story span:focus {
    outline: none;
}

#story span[contenteditable] {
    display: inline-block;
}
#story span[contenteditable]:empty::before {
    content: attr(data-placeholder);
    display: inline-block;
    color: #b3b3b1;
}
#story span[contenteditable]:empty:focus::before {
    content: attr(data-focused-advice);
    color: #b3b3b1;
}
